footer {
  background: var(--cc-color-text);
  color: var(--cc-color-muted);
  padding: 15px 0;
  text-align: center;
}

footer > div {
  margin: 1rem;
}

footer a {
  color: var(--cc-color-on-primary);
  text-decoration: none;
}

footer > a:hover {
  color: var(--cc-color-accent);
}
